{% extends "front/header.twig" %}

{% block title %}Login{% endblock %}
{% block content %}
    <form method="post" action="/login">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        {% if message %}
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> {{ message }}
            </div>
        {% endif %}
        <input type="submit" class="btn btn-secondary" value="Login">
    </form>
{% endblock %}